name: Bins
on:
  workflow_call:
    inputs:
      package:
        type: string
        required: true
      bin:
        type: string
        required: true

jobs:
  config:
    runs-on: ${{ vars.RUNNER }}
    name: generate config
    outputs:
      config: ${{ steps.merge.outputs.config }}
    steps:
      - name: merge
        id: merge
        uses: carteramesh/ci/.github/actions/rust-config@main
        with:
          git_token: ${{ github.token }}
          runner: ${{ vars.RUNNER }}

  bin:
    name: assets / ${{ matrix.target }}
    needs: [config]
    strategy:
      matrix:
        include: ${{ fromJSON(toJSON(fromJSON(needs.config.outputs.config).release.os)) }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Init / ${{ matrix.target }}
        uses: carteramesh/ci/.github/actions/rust-init@main
        with:
          packages: ${{ toJSON(fromJSON(needs.config.outputs.config).global.packages) }}
          ref: ${{ needs.release.outputs.tag }}
      - name: Build / ${{ matrix.target }}
        run: cargo build --release
      - uses: taiki-e/upload-rust-binary-action@v1
        name: Upload / ${{ matrix.target }}
        with:
          checksum: sha256
          profile: ${{ fromJSON(needs.config.outputs.config).release.profile || 'release' }}
          package: ${{ inputs.package }}
          # (required) Comma-separated list of binary names (non-extension portion of filename) to build and upload.
          # Note that glob pattern is not supported yet.
          bin: ${{ inputs.bin }}
          # (optional) Target triple, default is host triple.
          target: ${{ matrix.target }}
          # (optional) On which platform to distribute the `.tar.gz` file.
          # [default value: unix]
          # [possible values: all, unix, windows, none]
          tar: unix
          # (optional) On which platform to distribute the `.zip` file.
          # [default value: windows]
          # [possible values: all, unix, windows, none]
          zip: windows
          # (optional) Build with the given set of features if any.
          features: ${{ matrix.features || '' }}
          # (required) GitHub token for uploading assets to GitHub Releases.
          token: ${{ secrets.GITHUB_TOKEN }}
